@model Venue

@{
    ViewData["Title"] = "Details for Venue";
}
<div class="col-xl-6 offset-xl-2 g-0 p-0">
    <div class="card">
        @if(Model.VenuePictureURL == "" || Model.VenuePictureURL == null) {
            <img class="card-img-top" src="https://www.tiketti.fi/kuvat/EV90531_7_768x470.jpg" alt="@Model.Name"/>
        }
        else {
            <img class="card-img-top" src="@Model.VenuePictureURL" alt="@Model.Name">
        }
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Address @Model.PostalCode @Model.City</p>
            <p class="card-text">@Model.Description.</p>
            <h5 class="card-title ml-0">Tulevat tapahtumat:</h5>
            @foreach (var events in Model.Events)
            {
                <p class="card-text"><a asp-controller="Events" asp-action="Details" asp-route-id="@events.Id">@events.Name | @events.StartDate.ToString("dd MMM yy") - @events.EndDate.ToString("dd MMM yy") </a></p>
            }
            <p class="card-text">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class="btn btn-outline-success float-right mt-5" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pen"></i>Edit</a>
                }
                <a class="btn btn-outline-primary float-left mt-5" asp-controller="Events" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Takaisin</a>
        </div>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Venues")