@model IEnumerable<Event>

@{
    ViewData["Title"] = "Events";
    int counter = 0;
}

<div class="row g-0">
    @foreach (var item in Model)
    {
        if (counter < 4) {
            <div class="col-xl-3 mb-3 g-0 p-1 border-1">
                <div class="card" style="min-height: 400px;">
                    <div class="card-header g-0 p-0 m-0">
                        <a class="col-md-12 m-0 p-0 g-0" asp-action="Details" asp-route-id="@item.Id">
                            <img src="@item.ImageURL" width="100%" alt="@item.Name">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-title card-textfont-weight-bold">@item.Name</p>
                        <p class="card-text">@item.venue.Name</p>
                        @if (item.StartDate.ToString("dd MMMyy") != item.EndDate.ToString("dd MMMyy")) {
                            <p class="card-text">@item.StartDate.ToString("dd MMMyy") - @item.EndDate.ToString("dd MMMyy")</p>
                        }
                            else
                            {
                                <p class="card-text">@item.StartDate.ToString("dd MMMyy")</p>
                            }
     
                        </div>
                    <div class="card-footer bg-white text-dark border-0">
                        <p class="card-text text-center">
                            @if (DateTime.Now <= item.StartDate && DateTime.Now >= item.SellStartDate)
                            {
                                <a class="btn-sm btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus">Osta lippu</i>
                                </a>
                            }
                            else if (DateTime.Now > item.SellStartDate && DateTime.Now <= item.EndDate)
                            {
                                <a class="btn-sm btn-danger text-white">
                                    <i class="bi bi-cart-plus">Tulossa</i>
                                </a>
                            }
                            else
                            {
                                 <a class="btn-sm btn-danger text-white">
                                    <i class="bi bi-cart-plus">Päättynyt</i>
                                </a>
                            }
                        </p>
                    </div>
                </div>
            </div>
            counter++;
        }
        else
        {
            <div class="col-xl-12 col-lg-12 mb-3 g-0 p-1 border-1">
                <div class="card" style="min-height: 600px;">
                    <div class="card-header g-0 p-0 m-0">
                        <a class="col-md-12 m-0 p-0 g-0" asp-action="Details" asp-route-id="@item.Id">
                                <img class="w-100" src="@item.WideImageURL" alt="@item.Name">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-title card-textfont-weight-bold">@item.Name</p>
                        <p class="card-text">@item.venue.Name</p>
                        @if (item.StartDate.ToString("dd MMMyy") != item.EndDate.ToString("dd MMMyy"))
                        {
                            <p class="card-text">@item.StartDate.ToString("dd MMMyy") - @item.EndDate.ToString("dd MMMyy")</p>
                        }
                        else
                        {
                            <p class="card-text">@item.StartDate.ToString("dd MMMyy")</p>
                        }
                    </div>
                    <div class="card-footer bg-white text-dark border-0">
                        <p class="card-text text-center">
                            @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                            {
                                <a class="btn-sm btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus">Osta lippu</i>
                                </a>
                            }
                            else if (DateTime.Now > item.SellStartDate)
                            {
                                <a class="btn-sm btn-danger text-white">
                                    <i class="bi bi-cart-plus">Tulossa</i>
                                </a>
                            }
                        </p>
                    </div>
                </div>
            </div>
            counter = 0;
        }
    }
    @await Html.PartialAsync("_CreateItem", "Events")
</div>