@model IEnumerable<Event>

@{
    ViewData["Title"] = "Events";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 mb-3">
            <div class="card mb-3 border-1" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                </h5>
                            </p>
                            <p class="card-text"><b>Venue: </b>@item.venue.Name</p>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">EXPIRED</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer bg-white text-dark border-0">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@item.Id">
                                    @((DateTime.Now > item.EndDate) ? "disabled" : "")
                                    <i class="bi bi-cart-plus">Add to Cart (@(item.TicketPrice)€)</i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @await Html.PartialAsync("_CreateItem", "Events")
</div>


